@using Minitwit.Core.Entities
@using Minitwit.Core.Repository
@using Minitwit.Web.Models
@inject SignInManager<Author> SigninManager
@inject UserManager<Author> UserManager
@inject IReactionRepository ReactionRepository
@inject IFollowRepository FollowRepository
@inject IAuthorRepository AuthorRepository
@model dynamic

<ul id="messagelist" class="cheeps">
    
    @foreach (CheepViewModel cheep in Model.Cheeps)
    {
        <li>
            <div class="cheep-view">
                <div class="cheep-info">
                    <strong>
                        
                        <a href="/@cheep.User.Username">@cheep.User.Username</a>
                        <p>Followers: @AuthorRepository.GetFollowersByIdAsync(cheep.User.Id).Result.Count()</p>
                    </strong>
                    <p class="cheep-message">
                        @cheep.Message
                    </p>

                    <small>&mdash; @cheep.Timestamp</small>
                </div>
                <div class="reaction-box">
                    @if (SigninManager.IsSignedIn(User) && cheep.User.Username != User.Identity?.Name)
                    {
                        @if (ReactionRepository.HasUserReacted(@cheep.CheepId, UserManager.GetUserAsync(User).Result!.Id).Result)
                        {
                            <form asp-page="public" asp-page-handler="RemoveReaction" method="post" asp-route-cheepId="@cheep.CheepId" asp-route-reaction="@cheep.Reactions.First().ReactionType" asp-route-currentPage="@Model.currentPage">
                                <input class="reacted" type="submit" id="reactionId" name="ReactionIdInput" value="Like: @cheep.Reactions.First().ReactionCount"/>
                            </form>
                        }
                        else
                        {
                            <form asp-page="public" asp-page-handler="Reaction" method="post" asp-route-cheepId="@cheep.CheepId" asp-route-reaction="@cheep.Reactions.First().ReactionType" asp-route-currentPage="@Model.currentPage">
                                <input type="submit" id="reactionId" name="ReactionIdInput" value="Like: @cheep.Reactions.First().ReactionCount"/>
                            </form>
                        }
                    }
                    else
                    {
                        ReactionModel cheepReaction = cheep.Reactions.First();
                        <u class="reactions-display">@cheepReaction.ReactionType: @cheepReaction.ReactionCount</u>
                    }
                </div>

                @if (SigninManager.IsSignedIn(User) && cheep.User.Username != User.Identity?.Name)
                {
                    if (!FollowRepository.IsFollowingAsync(Model.user.Id, cheep.User.Id))
                    {
                        <form asp-page="public" asp-page-handler="Follow" method="post" asp-route-CurrentPage="@Model.currentPage" asp-route-Author2Follow="@cheep.User.Id">
                            <input type="submit" value="Follow"/>
                        </form>
                    }
                    else
                    {
                        <form asp-page="public" asp-page-handler="Unfollow" method="post" asp-route-CurrentPage="@Model.currentPage" asp-route-Author2Unfollow="@cheep.User.Id">
                            <input type="submit" value="Unfollow"/>
                        </form>
                    }
                }
            </div>
        </li>
    }
</ul>

<div style="display:flex;justify-content:center">

    @{

        var currentUrl = Context.Request.Path;

        var newUrl1 = $"{currentUrl}?page=1";
        var newUrl2 = $"{currentUrl}?page={@Model.currentPage-1}";
        var newUrl3 = $"{currentUrl}?page={@Model.currentPage}";
        var newUrl4 = $"{currentUrl}?page={@Model.currentPage+1}";
        var newUrl5 = $"{currentUrl}?page={@Model.totalPages}";

        //string name1 = "[1]";
        string name1 = $"[<<]";
        string name2 = $"[{@Model.currentPage - 1}]";
        string name3 = $"[{@Model.currentPage}]";
        string name4 = $"[{@Model.currentPage + 1}]";
        //string name5 = $"[{@Model.totalPages}]";
        string name5 = $"[>>]";

        
        if (@Model.currentPage > 1) {<a href="@newUrl1">@name1</a>}
        if (@Model.currentPage != 1) {<a href="@newUrl2">@name2</a>}

        <a href="@newUrl3" style="margin-inline:10px">@name3</a>

        if (@Model.currentPage != @Model.totalPages) {<a href="@newUrl4">@name4</a>}
        if (@Model.currentPage < @Model.totalPages) {<a href="@newUrl5">@name5</a>}


    }



</div>
